<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/ico" href="favico.ico">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous"> --}}
    <link rel="stylesheet" href="/login.css">
    <title>CONNFLICT</title>
</head>
<body>
    
  <div class="background-wrap">
  <div class="background"></div>
</div> 
{{!-- <center><img src="connflict.png" class="sitelogo"></center> --}}
{{!-- <center><img src="connflict2.png" class="sitelogo"></center> --}}

<center><img src="https://www.connflict.com:3000/connlogo.png" class="sitelogo"></center>
<br><br><br><br><br>
<center>ERROR: Cannot specify origin of IP address, are you using a proxy?</center>
<br><br><br><br><br>
<center ><a href="https://www.connflict.com:3000/login" style="color:white">Click Here To Return To Connflict</a></center>
<br><br><br><br><br>

<center><p>
    https://discord.gg/KCw5zGFshN - discord for updates, news, chats, ideas or just to tell me im a shitcunt.
</p></center>

        {{#if message}}
        
            <h4 class="alert alert-danger mt-4"><p><br><br><center>{{message}}</center></p></h4>
            <br><br><br>
            <p >
            <center ><a href="https://www.connflict.com:3000/login" style="color:white">Click Here To Return To Connflict</a></center>
            </p>

        {{/if}}
</body>
</html>